[Desktop Entry]
Name=SquareHead
Comment=SquareHead classic game
Comment[en_AU]=SquareHead classic game
Comment[en_GB]=SquareHead classic game
Comment[ru]=Классическая игра SquareHead
Exec=${SNAP}/usr/share/icons/hicolor/256x256/aps/squarehead.png
Terminal=false
Icon=squarehead
Type=Application
Categories=Game;
StartupNotify=true
